{
    "name": "alm-skel",
    "license": "GPL-3",
    "version": "0.0.1",
    "typings": "lib/main.d.ts",
    "description": "CHANGEME",
    "homepage": "n/a",
    "repository": {
        "type": "git",
        "url": "n/a"
    },
    "author": "CHANGEME",
    "scripts": {
        "clean": "rm -rf ./js",
        "build": "NODE_ENV=production webpack"
    },
    "devDependencies": {
        "@types/node": "^8.0.50",
        "tap": "^7.1.2",
        "typescript": "^2.0.3",
        "webpack": "^3.8.1"
    },
    "dependencies": {
        "alm": "https://github.com/gatlin/Alm.git",
        "awesome-typescript-loader": "^3.3.0",
        "css-loader": "^0.28.7",
        "style-loader": "^0.19.0"
    }
}
