{
    "name": "alm-skel",
    "license": "GPL-3",
    "version": "0.0.1",
    "typings": "lib/main.d.ts",
    "description": "CHANGEME",
    "homepage": "n/a",
    "repository": {
        "type": "git",
        "url": "n/a"
    },
    "author": "CHANGEME",
    "scripts": {
        "clean": "rm -rf ./js",
        "build": "NODE_ENV=production webpack"
    },
    "devDependencies": {
        "@types/node": "^8.0.50",
        "babel-core": "^6.26.0",
        "babel-loader": "^7.1.2",
        "tap": "^7.1.2",
        "typescript": "^2.0.3",
        "webpack": "^3.8.1"
    },
    "dependencies": {
        "awesome-typescript-loader": "^3.3.0",
        "babel-plugin-syntax-jsx": "^6.18.0",
        "babel-plugin-transform-jsx": "^2.0.0",
        "babel-preset-es2015": "^6.24.1",
    }
}
