{
    "name": "alm-skel",
    "license": "GPL-3",
    "version": "0.0.1",
    "typings": "lib/main.d.ts",
    "description": "CHANGEME",
    "homepage": "n/a",
    "repository": {
        "type": "git",
        "url": "n/a"
    },
    "author": "CHANGEME",
    "scripts": {
        "test": "./tests/*.ts",
        "clean": "rm -rf _bundles lib build",
        "build": "NODE_ENV=production webpack",
        "docs": "cd docs && webpack"
    },
    "devDependencies": {
        "@types/node": "^8.0.50",
        "tap": "^7.1.2",
        "typescript": "^2.0.3",
        "webpack": "^3.8.1"
    },
    "dependencies": {
        "awesome-typescript-loader": "^3.3.0"
    }
}
