table.grid-table {
    border: 1px solid #cdcdcd;
    margin: 50px auto 0px auto;
}

tr.grid-row td.grid-cell-td {
    border-top: 1px solid #cdcdcd;
}

tr.grid-row:first-child td.grid-cell-td {
    border-top: none;
}

td.grid-cell-td {
    height: 50px;
    width: 50px;
    border-right: 1px solid #cdcdcd;
}

td.grid-cell-td:last-child {
    border-right: none;
}

td.grid-cell-td span {
    display: block;
    height: 100%;
    width: 100%;
}

span.grid-cell-2 {
    background-color: inherit;
}

span.grid-cell-0 {
    background-color: #b9b9b9;
}

span.grid-cell-1 {
    background-color: #000000;
}

#grid-status {
    margin: 20px auto;
    text-align: center;
}

button#solve-btn {
    display: block;
    margin: 20px auto;
}
